body {
	font-family: "Roboto", sans-serif;
}
h1,
h2 {
	font-family: "Bebas Neue", cursive;
}

/* Common Class */
.btn-blue {
	background: linear-gradient(#3c4ff3, #3543be);
	color: #fff;
	font-size: 1em;
	padding: 1.1em 2em;
	border-radius: 10px;
}
.btn-green i {
	margin-right: 8px;
}
.text-orange {
	color: #fa804c;
}
section h2 {
	font-size: 32px;
}

/*  Header Area  */
.header-area {
	background: #fffbf0;
}
.hero h1 {
	font-size: 80px;
}
.hero h1 span {
	display: block;
}
.header-area .navbar-brand img {
	max-height: 50px;
}
.hero img {
	max-width: 550px;
}

/* Jackets */
.shoes h2 {
	font-size: 42px;
}
.shoes .card {
	border-radius: 1em;
	border: 0;
}
.shoes .card-img {
	background: #f1f1f1;
	text-align: center;
	border-radius: 1em;
}
.shoes .card-img img {
	padding: 1em;
}
.shoes .card-footer {
	border: 0;
	background: #fff;
}
.shoes .card-title {
	font-size: 1.8em;
}
.shoes .card-footer .price {
	font-size: 2em;
	font-weight: bold;
}
.formal-shoes .card-img {
	background: transparent;
}

/* features */
.features .feature {
	border-radius: 15px;
}
.features .feature img {
	max-width: 70px;
	margin-right: 30px;
}

.faq h2.accordion-header button {
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.faq .accordion-button:not(.collapsed) {
	background: #fa804c;
	color: #fff;
}
